.led-toggle {
  background: #ccc;
  transition: all 1s ease;
  display: table;
  height: 100%;
  width: 100%;

  &.on {
    background: #ffffcc;
    color: #ff9933;
  }

  &.off {
    background: #333;
  }

  .status {
    display: table-cell;
    vertical-align: middle;
    font-size: 300px;
    font-family: sans-serif;
    text-align: center;
    text-transform: uppercase;
  }
}
